*,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--dark-blue: #0e1d33;
	--grey-low: #c9d4f5;
	--grey-high: #8892b0;
	--cyan: #5dfcd7;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--grey-low);
}

img {
	/* width: 100%; */
	max-width: 200px;
}

/* 
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Code Pro', monospace; 
*/

html,
button {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 400;
}

body {
	color: var(--grey-low);
	background: var(--dark-blue);
	overflow-x: hidden;
}
