/* defaults */
*,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--dark-blue: #112341;
	--grey-low: #c9d4f5;
	--grey-high: #8892b0;
	--cyan: #5dfcd8;
	--s-gap: 0.5rem;
	--m-gap: 1rem;
	--l-gap: 2rem;
	--xl-gap: 3rem;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

img {
	width: 100%;
	object-fit: cover;
}

html,
button {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: calc(15px + (22 - 15) * ((100vw - 300px) / (1600 - 300)));
}

body {
	color: var(--grey-low);
	background: var(--dark-blue);
	overflow-x: hidden;
	position: relative;
}

/* header */
.main-container {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 var(--m-gap);
	position: relative;
}

.header-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
	position: sticky;
	top: 0;
	z-index: 999;
	max-width: 1600px;
	margin: 0 auto;
	padding: 1.5rem var(--m-gap);
	background: var(--dark-blue);
	background-blend-mode: multiply;
}

.logo-cont {
	width: 45px;
	-webkit-tap-highlight-color: transparent;
}

.logo-cont img {
	display: block;
}

.nav-container {
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	background: var(--dark-blue);
}

.nav-open {
	width: 100%;
	height: 92vh;
	opacity: 1;
	overflow: hidden;
	font-size: 1.5rem;
}

.disable-scroll {
	overflow: hidden;
}

.nav-link {
	width: 100%;
	text-align: center;
}

.nav-link a {
	padding: var(--m-gap);
}

.hamburger {
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
	width: 35px;
	-webkit-tap-highlight-color: transparent;
}

.hamburger span {
	display: block;
	height: 3px;
	background: var(--grey-high);
	margin: 6px 0 6px auto;
	transition: all 0.3s ease-in-out;
}
.ham1 {
	width: 100%;
}
.ham2 {
	width: 70%;
}
.ham3 {
	width: 40%;
}
.hamburger .ham-close:nth-child(1) {
	transform: rotate(45deg);
	transform-origin: left;
	margin-bottom: 20px;
	background: #e9294f;
}
.hamburger .ham-close:nth-child(2) {
	display: none;
}
.hamburger .ham-close:nth-child(3) {
	transform: translate(-11px, -23px) rotate(-45deg);
	width: 100%;
	transform-origin: right;
	background: #e9294f;
}

/* intro */
.intro-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: calc(100vh - 100px);
	padding: 4rem 0;
}

.intro-container::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: calc(100vh);
	background: url("../images/profile/hero.svg") left top / cover no-repeat;
	/* background by SVGBackgrounds.com */
	z-index: -1;
}

.name-head {
	font-size: 2.8em;
	color: var(--grey-high);
}

.desc-head {
	font-size: 6.5vw;
	margin: var(--l-gap) 0;
}

.desc-head span {
	display: block;
	margin: var(--s-gap) 0;
}

.intro-container .info {
	font-family: "Source Code Pro", monospace;
	font-weight: 300;
	margin: 0.2rem 0;
}

.custom-btn {
	outline: none;
	border: 2px solid var(--cyan);
	border-radius: 5px;
	background: transparent;
	color: var(--cyan);
	font-weight: bold;
	cursor: pointer;
	letter-spacing: 1.5px;
	transition: all 0.3s ease-in-out;
}

.custom-btn:hover {
	box-shadow: 0px 0px 5px 2px var(--cyan);
}

.contact-btn {
	margin-top: var(--xl-gap);
	width: max-content;
	padding: var(--m-gap);
}

/* about me */
.section-head {
	font-family: "Playfair Display", serif;
	font-size: 2em;
	margin: var(--xl-gap) 0;
	position: relative;
	width: max-content;
	padding-right: var(--s-gap);
}

.section-head::after {
	content: "\22EF";
	color: var(--cyan);
	position: absolute;
	top: 0%;
	left: 102%;
}

.profile-photo {
	width: 60%;
	max-width: 300px;
	margin: 0 auto 2.5rem auto;
	position: relative;
}

.profile-photo img {
	display: block;
	border-radius: var(--s-gap);
}

.about-main-cont {
	max-width: 700px;
	margin: 0 auto;
}

.about-info .info {
	border-left: 2px solid var(--cyan);
	padding-left: var(--m-gap);
	margin: var(--l-gap) 0;
	line-height: 1.8;
}

.about-info .info span {
	font-family: "Source Code Pro", monospace;
	color: var(--cyan);
}

.tech-stack {
	font-family: "Source Code Pro", monospace;
	margin: var(--m-gap) 0 var(--s-gap) 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.tech-container {
	font-family: "Source Code Pro", monospace;
	width: 49%;
	margin-bottom: var(--s-gap);
	padding-left: var(--m-gap);
	position: relative;
}

.tech-container::before {
	content: "\26B2";
	color: var(--cyan);
	position: absolute;
	left: 0;
	top: 0;
}

.tech-info {
	font-size: 0.9em;
}

/* projects */
.project-container .section-head,
.contact-container .section-head {
	margin-top: 5rem;
}

.project {
	background: #162e51;
	max-width: 650px;
	padding: var(--l-gap) var(--m-gap);
	margin: 0 auto var(--xl-gap) auto;
	border-radius: var(--s-gap);
}

.project-img {
	position: relative;
}

.project-img img {
	display: block;
	border-radius: var(--s-gap);
}

.project-name {
	margin: var(--m-gap) 0;
	font-size: 1.8em;
}

.project-desc {
	margin: var(--m-gap) 0 1.5rem 0;
}

.project-stack {
	font-family: "Source Code Pro", monospace;
	margin-bottom: var(--l-gap);
	line-height: 1.6;
	color: var(--grey-high);
}

.project-live {
	margin-right: var(--m-gap);
}

.project-live span:nth-child(2) {
	display: inline-block;
	transform: translate(2px, -4px) rotate(-45deg);
}

.project-container a {
	padding: var(--s-gap) var(--m-gap);
}

.all-projects {
	display: block;
	width: max-content;
	margin: var(--m-gap) auto 0 auto;
}

.all-projects span {
	margin-bottom: 5px;
	display: inline-block;
}

.all-projects img {
	width: 25px;
	transform: translateY(5px);
}

/* contact */
.contact-info {
	text-align: center;
	max-width: 700px;
	margin: 0 auto;
}

.contact-info p:nth-child(3) {
	margin-top: var(--m-gap);
}

.contact-head {
	margin-bottom: var(--m-gap);
}

.contact-links {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
	margin: var(--l-gap) 0;
}

.contact-link {
	width: 40px;
	cursor: pointer;
}

.footer {
	font-family: "Source Code Pro", monospace;
	background: #162e51;
	padding: var(--l-gap) 0;
	text-align: center;
	font-size: 0.9em;
}

/* tablet */
@media only screen and (min-width: 768px) {
	.main-container {
		padding: 0 var(--xl-gap);
		overflow-x: hidden;
	}

	.header-container {
		padding: var(--m-gap) var(--xl-gap);
	}

	.logo-cont {
		width: 50px;
	}

	.desc-head {
		font-size: 6.3vw;
	}

	.hamburger {
		width: 40px;
	}

	.tech-container {
		width: 30%;
		margin-bottom: var(--m-gap);
	}
}

/* desktop */
@media only screen and (min-width: 992px) {
	.hamburger {
		display: none;
	}

	.header-container {
		align-items: center;
	}

	.nav-open {
		font-size: unset;
	}

	.disable-scroll {
		overflow: unset;
	}

	.nav-container {
		position: static;
		width: 100%;
		height: 100%;
		opacity: 1;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: flex-start;
		width: 50%;
	}

	.nav-link {
		text-align: right;
	}

	.nav-link a {
		padding: 0 5px 3px 5px;
		border-bottom: 2px solid transparent;
		transition: border 0.3s ease-in-out;
	}

	.nav-link a:hover {
		border-color: var(--cyan);
	}

	.intro-container {
		padding: 0;
		min-height: calc(100vh - 100px);
		position: relative;
	}

	.intro-container::before {
		content: "";
		position: absolute;
		top: 3%;
		left: 70%;
		width: 100%;
		height: 95%;
		background: url("../images/profile/hero.png") left top / contain no-repeat;
	}

	.name-head {
		font-size: 2rem;
	}

	.desc-head {
		font-size: 2.5rem;
		margin: var(--l-gap) 0 var(--l-gap) 0;
		line-height: 1.3;
		transform: translateY(-10px);
		position: relative;
	}

	.desc-head span {
		margin: 0;
		letter-spacing: 2px;
	}

	.intro-container .info {
		font-size: 0.7rem;
	}

	.contact-btn {
		margin-top: var(--m-gap);
		padding: var(--s-gap) var(--m-gap);
	}

	.about-container .section-head {
		margin-bottom: var(--s-gap);
	}

	.about-main-cont {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		max-width: 1200px;
	}

	.profile-photo {
		width: 35%;
		margin: 0;
	}

	.about-info {
		width: 60%;
	}

	.tech-stack-cont {
		width: 100%;
		max-width: unset;
	}

	.tech-container {
		width: 24%;
		margin-bottom: var(--m-gap);
	}

	.project {
		max-width: unset;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
	}

	.project-img {
		width: 40%;
	}

	.project-info {
		width: 58%;
	}

	.project:nth-child(2) .project-img,
	.project:nth-child(4) .project-img {
		order: 2;
	}

	.project:nth-child(2) .project-info,
	.project:nth-child(4) .project-info {
		order: 1;
	}
}
